.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:20vh;
    gap: 10px;
    font-size: larger;
}

.join{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn{
    width: 100%;    
}

.message-box{
    border-color: blue;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    background-color: black;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width:80vw;
    align-items: stretch;
}

.messages{
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs{
    padding: 10px;
    display: flex;
}

h2{
    text-align: center;
}

#message{
    flex: 1;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted{
    font-size: 10px;
    color: darkgrey;
}

body{
    background-color: black;
    color:white;
    overflow-y: scroll;
}

button:hover{
    background-color: blue;
    color: yellow;
}

input{
    opacity: 0.5;
    color:yellow;
    border:2px solid;
    border-color: white;
    border-radius: 4px;
    background-color: black;
    gap:10px;
    font-weight: bold;
}

button{
    background-color: black;
    color: yellow;    
}

.disclaimer{
    position:fixed;
    bottom: 0;
}





