{% extends 'base.html'%}
{%block content%}
<form method="post" class="buttons">
    <h3>聊天室 Chat Room</h3>
    <div>
        <label>网名 Name:</label>
        <input class="entername" type="text" placeholder="输入网名 (Enter your name)" name="name" value="{{name}}" />
    </div>
    <div class="join">
        <input class="enterroomcode" type="text" placeholder="房间号 (Room Code)" name="code" value="{{code}}" />
        <button type="submit" name="join">进入房间 Join a Room</button>
    </div>
    <button type="submit" name="create" class="create-btn">开房 Create a Room</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
    <div class="disclaimer">Disclaimer: The developer of this chat room is not responsible for the actions, behavior, or content exchanged by users within the chat 
        room. The chat room is provided as a platform for communication and interaction, and the developer does not assume any liability for the 
        accuracy, completeness, or appropriateness of the discussions held within. Users are solely responsible for their own conduct and the info
        rmation they choose to share. The developer disclaims any responsibility for any harm, loss, or damages that may arise from the use of 
        this chat room. By using this chat room, you acknowledge and agree to this disclaimer.</div>
</form>





{%endblock%}

