{% extends 'base.html'%}
{%block content%}

<div class="container">
<form method="post" class="buttons">
    <h3>聊天室 Chat Room</h3>
    <div>
        <label>网名 Name:</label>
        <input class="entername" type="text" placeholder="输入网名 (Enter your name)" name="name" value="{{name}}" />
    </div>
    <div class="join">
        <input class="enterroomcode" type="text" placeholder="房间号 (Room Code)" name="code" value="{{code}}" />
        <button type="submit" name="join">进入房间 Join a Room</button>
    </div>
    <button type="submit" name="create" class="create-btn">开房 Create a Room</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>

<div class="disclaimer">Disclaimer: The owner of this website is not responsible for the actions, behavior, or content exchanged by users within the chat 
    room. The website is provided as a platform for communication and interaction, and the owner does not assume any liability for the 
    accuracy, completeness, or appropriateness of the discussions held within. Users are solely responsible for their own conduct and the 
    information they choose to share. The owner of this website disclaims any responsibility for any harm, loss, or damages that may arise from the use of 
    this website. By using this website, you acknowledge and agree to this disclaimer and our <a style="color: white" href="https://www.privacypolicies.com/live/9379fa8f-f7d6-458c-9638-81c43493e268">privacy policy</a>.</div>
</div>

{%endblock%}

